*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(199, 214, 215);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.card{
    display: flex;
    width: 50%;
    border: 2px double gray;
    padding: 20px;
    margin: 5%;
    background-color: papayawhip;
    border-radius: 2vh;
    box-shadow: 2px 2px 2px 2px burlywood;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 30%;
    margin-right: 5%;
    border-radius: 3%;

}
.descirption{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10%;
    
}